* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;
}

img {
    max-width: 100%;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    margin: 2em;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
}

.navbar.logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}


.header {
    background-color: #0151cc;
    min-height: 400px;
    color: #fff;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.boxes .container {
    display: flex;

}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;

    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
}

@media (max-width: 740px) {
    .header .container {
        flex-direction: column;
        padding: 2em;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}